<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/game-03.jpg" alt="Avatar Logo" style="width:50px;" class="rounded-pill logo">
    </a>

    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item ml-4">
            <a class="nav-link" routerLink="/Home" routerLinkActive="test">Home</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link" routerLink="/Products" routerLinkActive="test">Products</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link" routerLink="/admin" routerLinkActive="test">admin</a>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link" routerLink="/register" routerLinkActive="test">register</a>
          </li>
          <!-- <li class="nav-item ml-4">
            <a class="nav-link" routerLink="/Cart" routerLinkActive="test">Cart</a>
          </li> -->
          <li class="nav-item ml-4">
            <a class="nav-link" routerLink="/AboutUs" routerLinkActive="test">Contact Us</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>